<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="left-logo">
    <a href="/index" class="brand-link">
        <!--<img src="dist/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
             style="opacity: .5">-->
        <span class="brand-text font-weight-light"><h5>影院放映质量信息服务系统</h5></span>
    </a>
</div>

<div th:fragment="left-nav-client" >
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
            <img th:src="@{/images/admin.png}" class="img-circle elevation-2" alt="User Image">
        </div>
        <div class="info">
            <a href="#" class="d-block"><h4 th:text="${session.username}"></h4></a>
        </div>
    </div>
</div>

<div th:fragment="left-nav" >
<nav class="mt-2" >
    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <!-- Add icons to the links using the .nav-icon class
             with font-awesome or any other icon font library -->
        <li class="nav-item">
            <a class="nav-link">
                <i class="nav-icon fa fa-dashboard"></i>
                <p>
                    系统管理
                    <i class="right fa fa-angle-left"></i>
                </p>
            </a>
            <ul class="nav nav-treeview">
                <li class="nav-item">
                    <a href="/system/user" class="nav-link">
                        <i class="fa fa-plug nav-icon"></i>
                        <p>用户管理</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/system/role" class="nav-link">
                        <i class="fa fa-lock nav-icon"></i>
                        <p>权限管理</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/system/self" class="nav-link">
                        <i class="fa fa-file-text-o nav-icon"></i>
                        <p>个人信息管理</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/system/api" class="nav-link">
                        <i class="fa fa-plug nav-icon"></i>
                        <p>数据接口管理</p>
                    </a>
                </li>

            </ul>
        </li>
        <li class="nav-item">
            <a class="nav-link">
                <i class="nav-icon fa fa-th"></i>
                <p>
                    基础信息配置
                    <i class="right fa fa-angle-left"></i>
                </p>
            </a>
            <ul class="nav nav-treeview">
                <li class="nav-item">
                    <a href="/base/cinema/search" class="nav-link">
                        <i class="fa fa-file-text-o nav-icon"></i>
                        <p>影院基础信息管理</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/base/equipment/search" class="nav-link">
                        <i class="fa fa-file-text-o nav-icon"></i>
                        <p>设备基础信息管理</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/base/parts/search" class="nav-link">
                        <i class="fa fa-file-text-o nav-icon"></i>
                        <p>配件基础信息管理</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/base/standard/search" class="nav-link">
                        <i class="fa fa-file-text-o nav-icon"></i>
                        <p>标准基础信息管理</p>
                    </a>
                </li>
            </ul>
        </li>
        <li class="nav-item">
            <a href="/assets/search" class="nav-link">
                <i class="nav-icon fa fa-cny"></i>
                <p>
                    资产管理
<!--                    <i class="right fa fa-angle-left"></i>-->
                </p>
            </a>
        </li>
        <li class="nav-item has-treeview">
            <a class="nav-link">
                <i class="nav-icon fa fa-calendar"></i>
                <p>
                    计划任务
                    <!--<span class="badge badge-info right">2</span>-->
                    <i class="fa fa-angle-left right"></i>
                </p>
            </a>
            <ul class="nav nav-treeview">
                <li class="nav-item">
                    <a href="/task/calendar_manage" class="nav-link">
                        <i class="fa fa-calendar nav-icon"></i>
                        <p>日常任务总览</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/task/task_search" class="nav-link">
                        <i class="fa fa-thumb-tack nav-icon"></i>
                        <p>日常任务查询</p>
                    </a>
                </li>
            </ul>
        </li>
        <li class="nav-item has-treeview">
            <a class="nav-link">
                <i class="nav-icon fa fa-search"></i>
                <p>
                    资料库
                    <i class="fa fa-angle-left right"></i>
                </p>
            </a>
            <ul class="nav nav-treeview">
                <li class="nav-item">
                    <a href="/documents/standard" class="nav-link">
                        <i class="fa fa-search nav-icon"></i>
                        <p>相关标准</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/documents/operate_course" class="nav-link">
                        <i class="fa fa-search nav-icon"></i>
                        <p>维护教程</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/documents/handbook" class="nav-link">
                        <i class="fa fa-search nav-icon"></i>
                        <p>故障手册</p>
                    </a>
                </li>
            </ul>
        </li>
        <li class="nav-item">
            <a href="/ai/direction_chat" class="nav-link">
                <i class="nav-icon fa fa-table"></i>
                <p>
                    智能在线答疑
                    <!--<i class="fa fa-angle-left right"></i>-->
                </p>
            </a>
        </li>
        <li class="nav-item">
            <a href="/star/search" class="nav-link">
                <i class="nav-icon fa fa-table"></i>
                <p>
                    影院星级评定
                    <!--<i class="fa fa-angle-left right"></i>-->
                </p>
            </a>
        </li>
        <li class="nav-item">
            <a href="/analysis/chart_statistic" class="nav-link">
                <i class="nav-icon fa fa-pie-chart"></i>
                <p>
                    业务统计分析
<!--                    <i class="right fa fa-angle-left"></i>-->
                </p>
            </a>
        </li>
        <li class="nav-item has-treeview">
            <a href="#" class="nav-link">
                <i class="nav-icon fa fa-book"></i>
                <p>
                    答题系统
                    <i class="fa fa-angle-left right"></i>
                </p>
            </a>
            <ul class="nav nav-treeview">
                <li class="nav-item">
                    <a href="/question/question" class="nav-link">
                        <i class="fa fa-edit nav-icon"></i>
                        <p>题库</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/question/details" class="nav-link">
                        <i class="fa fa-search nav-icon"></i>
                        <p>答题</p>
                    </a>
                </li>
            </ul>
        </li>
        <li class="nav-item">
            <a href="/question/score" class="nav-link">
                <i class="fa fa-search nav-icon"></i>
                <p>积分管理</p>
            </a>
        </li>
        <li class="nav-item">
            <a href="/course/online_course" class="nav-link">
                <i class="nav-icon fa fa-table"></i>
                <p>
                    在线课程
                </p>
            </a>
        </li>
        <li class="nav-item">
            <a href="/chat/list" class="nav-link">
                <i class="nav-icon fa fa-table"></i>
                <p>
                    经验交流
                </p>
            </a>
        </li>
    </ul>
</nav>
</div>