<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="left-logo">
    <a href="/index" class="brand-link">
        <!--<img src="dist/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
             style="opacity: .5">-->
        <span class="brand-text font-weight-light"><h5>影院放映质量信息服务系统</h5></span>
    </a>
</div>
<div th:fragment="left-nav-client" >
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
            <img th:src="@{dist/img/user2-160x160.jpg}" class="img-circle elevation-2" alt="User Image">
        </div>
        <div class="info">
            <a href="#" class="d-block"><h4 th:text="${session.username}"></h4></a>
        </div>
    </div>
</div>

<div th:fragment="left-nav" >
<nav class="mt-2" >
    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <!-- Add icons to the links using the .nav-icon class
             with font-awesome or any other icon font library -->
        <li class="nav-item">
            <a href="#" class="nav-link">
                <i class="nav-icon fa fa-dashboard"></i>
                <p>
                    系统管理
                    <i class="right fa fa-angle-left"></i>
                </p>
            </a>
            <ul class="nav nav-treeview">
                <li class="nav-item">
                    <a href="/blank_api" class="nav-link">
                        <i class="fa fa-plug nav-icon"></i>
                        <p>接口管理</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="fa fa-file-text-o nav-icon"></i>
                        <p>日志管理</p>
                    </a>
                </li>
            </ul>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link">
                <i class="nav-icon fa fa-user-circle"></i>
                <p>
                    用户管理
                    <i class="right fa fa-angle-left"></i>
                </p>
            </a>
            <ul class="nav nav-treeview">
                <li class="nav-item">
                    <a href="/index" class="nav-link">
                        <i class="fa fa-users nav-icon"></i>
                        <p>组织管理</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/index" class="nav-link">
                        <i class="fa fa-male nav-icon"></i>
                        <p>角色管理</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/index" class="nav-link">
                        <i class="fa fa-lock nav-icon"></i>
                        <p>权限管理</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/index" class="nav-link">
                        <i class="fa fa-user nav-icon"></i>
                        <p>用户管理</p>
                    </a>
                </li>
            </ul>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link">
                <i class="nav-icon fa fa-th"></i>
                <p>
                    基础信息管理
                    <i class="right fa fa-angle-left"></i>
                </p>
            </a>
            <ul class="nav nav-treeview">
                <li class="nav-item">
                    <a href="/data_cinema" class="nav-link">
                        <i class="fa fa-file-text-o nav-icon"></i>
                        <p>机构信息管理</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/data_cinema" class="nav-link">
                        <i class="fa fa-file-text-o nav-icon"></i>
                        <p>院线公司信息管理</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/data_cinema" class="nav-link">
                        <i class="fa fa-file-text-o nav-icon"></i>
                        <p>管理公司信息管理</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/data_cinema" class="nav-link">
                        <i class="fa fa-file-text-o nav-icon"></i>
                        <p>影院信息管理</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/data_machine" class="nav-link">
                        <i class="fa fa-file-text-o nav-icon"></i>
                        <p>厂家信息管理</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/data_machine" class="nav-link">
                        <i class="fa fa-file-text-o nav-icon"></i>
                        <p>服务公司信息管理</p>
                    </a>
                </li>
            </ul>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link">
                <i class="nav-icon fa fa-cny"></i>
                <p>
                    资产管理
                    <i class="right fa fa-angle-left"></i>
                </p>
            </a>
            <ul class="nav nav-treeview">
                <li class="nav-item">
                    <a href="/data_machine" class="nav-link">
                        <i class="fa fa-server nav-icon"></i>
                        <p>设备管理</p>
                    </a>
                </li>
            </ul>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link">
                <i class="nav-icon fa fa-wrench"></i>
                <p>
                    故障与维修管理
                    <i class="right fa fa-angle-left"></i>
                </p>
            </a>
            <ul class="nav nav-treeview">
                <li class="nav-item">
                    <a href="/chartjs_statistic" class="nav-link">
                        <i class="fa fa-thumb-tack nav-icon"></i>
                        <p>日常维护任务</p>
                    </a>
                </li>
            </ul>
        </li>
        <li class="nav-item has-treeview">
            <a href="#" class="nav-link">
                <i class="nav-icon fa fa-calendar"></i>
                <p>
                    日常工作管理
                    <!--<span class="badge badge-info right">2</span>-->
                    <i class="right fa fa-angle-left"></i>
                </p>
            </a>
            <ul class="nav nav-treeview">
                <li class="nav-item">
                    <a href="/calendar_manage" class="nav-link">
                        <i class="fa fa-thumb-tack nav-icon"></i>
                        <p>日常任务总览</p>
                    </a>
                </li>
            </ul>
            <ul class="nav nav-treeview">
                <li class="nav-item">
                    <a href="/task_search" class="nav-link">
                        <i class="fa fa-thumb-tack nav-icon"></i>
                        <p>日常任务查询</p>
                    </a>
                </li>
            </ul>
        </li>
        <li class="nav-item has-treeview">
            <a href="#" class="nav-link">
                <i class="nav-icon fa fa-search"></i>
                <p>
                    信息查询
                    <i class="fa fa-angle-left right"></i>
                </p>
            </a>
            <ul class="nav nav-treeview">
                <li class="nav-item">
                    <a href="/data_search" class="nav-link">
                        <i class="fa fa-search nav-icon"></i>
                        <p>标准查询</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/cinema_search" class="nav-link">
                        <i class="fa fa-search nav-icon"></i>
                        <p>故障代码查询</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="fa fa-search nav-icon"></i>
                        <p>常见故障查询</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="fa fa-search nav-icon"></i>
                        <p>设备信息查询</p>
                    </a>
                </li>
<!--                <li class="nav-item">-->
<!--                    <a href="/error_search" class="nav-link">-->
<!--                        <i class="fa fa-search nav-icon"></i>-->
<!--                        <p>故障信息检索</p>-->
<!--                    </a>-->
<!--                </li>-->
<!--                <li class="nav-item">-->
<!--                    <a href="#" class="nav-link">-->
<!--                        <i class="fa fa-search nav-icon"></i>-->
<!--                        <p>厂家信息检索</p>-->
<!--                    </a>-->
<!--                </li>-->
<!--                <li class="nav-item">-->
<!--                    <a href="#" class="nav-link">-->
<!--                        <i class="fa fa-search nav-icon"></i>-->
<!--                        <p>服务商信息检索</p>-->
<!--                    </a>-->
<!--                </li>-->
<!--                <li class="nav-item">-->
<!--                    <a href="#" class="nav-link">-->
<!--                        <i class="fa fa-search nav-icon"></i>-->
<!--                        <p>综合信息检索</p>-->
<!--                    </a>-->
<!--                </li>-->
            </ul>
        </li>
        <li class="nav-item has-treeview">
            <a href="#" class="nav-link">
                <i class="nav-icon fa fa-star"></i>
                <p>
                    影院星级评定
                    <!--<i class="fa fa-angle-left right"></i>-->
                </p>
            </a>
        </li>
        <li class="nav-item has-treeview">
            <a href="#" class="nav-link">
                <i class="nav-icon fa fa-pie-chart"></i>
                <p>
                    业务统计分析
                    <i class="right fa fa-angle-left"></i>
                </p>
            </a>
            <ul class="nav nav-treeview">
                <li class="nav-item">
                    <a href="/flot_analysis" class="nav-link">
                        <i class="fa fa-plug nav-icon"></i>
                        <p>API接口数据统计</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/flot_analysis" class="nav-link">
                        <i class="fa fa-times-circle-o nav-icon"></i>
                        <p>故障统计</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/chartjs_statistic" class="nav-link">
                        <i class="fa fa-thumb-tack nav-icon"></i>
                        <p>日常维护任务统计</p>
                    </a>
                </li>
            </ul>
        </li>
        <li class="nav-item">
            <a href="/direction_chat" class="nav-link">
                <i class="nav-icon fa fa-table"></i>
                <p>
                    智能在线答疑
                    <!--<i class="fa fa-angle-left right"></i>-->
                </p>
            </a>
        </li>
        <li class="nav-item has-treeview">
            <a href="#" class="nav-link">
                <i class="nav-icon fa fa-book"></i>
                <p>
                    答题管理
                    <i class="fa fa-angle-left right"></i>
                </p>
            </a>
            <ul class="nav nav-treeview">
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="fa fa-edit nav-icon"></i>
                        <p>答题管理</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="fa fa-search nav-icon"></i>
                        <p>答题查询</p>
                    </a>
                </li>
            </ul>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link">
                <i class="nav-icon fa fa-pencil"></i>
                <p>
                    积分管理
                    <!--<span class="right badge badge-danger">New</span>-->
                    <i class="fa fa-angle-left right"></i>
                </p>
            </a>
            <ul class="nav nav-treeview">
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="fa fa-edit nav-icon"></i>
                        <p>积分管理</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="fa fa-search nav-icon"></i>
                        <p>积分查询</p>
                    </a>
                </li>
            </ul>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link">
                <i class="nav-icon fa fa-table"></i>
                <p>
                    课程学习
                    <!--<i class="fa fa-angle-left right"></i>-->
                </p>
            </a>
        </li>
    </ul>
</nav>
</div>